*{
    margin: 0%;
}
.main{
    /* width: 100%; */
    height: 640px;
    /* border: 1px solid red; */
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
    background-color: #00ffff4b;

}
.sub_main{
    width: 30%;
    border: 3px solid red;
    border-radius: 50px;
    padding: 15px;
}
.head_login{
    /* border: 1px solid red; */
    text-align: center;
    margin-bottom: 10%;
    letter-spacing: 3px;
    text-shadow: 3px 3px 5px #0400ff;
}
.inp_lbl{
    width: 100px;
    font-size: larger;
}
.input{
    width: 96%;
    font-size: large;
    padding: 5px;
    border: 1px solid outset;
    border-radius: 10px;
    background-color: transparent;
}
/* .btn_login{
    width: 40%;
    font-size: 100%;
    font-weight: bold;
    padding: 10px;
    margin: 18px;
    text-align: center;
    color: white;
    background-color: blue;
    } */
    .btn_Signup{
        width: 91%;
        font-size: 100%;
        font-weight: bold;
        padding: 10px;
        margin: 18px;
        text-align: center;
        /* background-color: aqua; */
        background-color: blue;
        border-radius: 10px;
    }